.callout-auth {
	background-color: $light-gray;
	border: 1px solid $light-gray;
	padding : 2rem;
	text-align : center;

	h3, p {
		margin-bottom : 2rem;
	}

	button {
		display :block;
		width : 60%;
		margin : 0 auto 1rem;

	}
}
