#todo-list::-webkit-scrollbar {
  width : $scrollbar-width;
/*   background-color: #696969; */
}

#todo-list::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
}

#todo-list::-webkit-scrollbar-thumb:hover {
  background-color: #696969;
}