#todo-list::-webkit-scrollbar {
  width : $scrollbar-width;
/*   background-color: #696969; */
}

#todo-list::-webkit-scrollbar-thumb {
  background-color: $background-color-highlight;
}

#todo-list::-webkit-scrollbar-thumb:hover {
  background-color: $foreground-color;
}