
.todo-modal-delete-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */

}

#todo-modal-delete-content button {
    margin: 10px auto;
    padding: 5px;
}
