#todo-app {
  // border: 1px dashed pink;
  
  display: grid;
  grid-template-columns : $grid-column-left $grid-column-right;
  grid-template-rows : $grid-row-top $grid-row-bottom;
  grid-gap: $grid-gap;
  align-content: stretch;
  justify-content: stretch;
  
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}