#todo-leftbar {
    // border: 1px solid #2f2f2f;
    position: absolute;
    left: -$panelWidth;
    width: $panelWidth;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content : space-between;
}


.todo-leftbar-group {
    // position: absolute;
    display: flex;
    flex-flow: column nowrap;
    

}
.todo-leftbar-item {
    border: 1px solid $background-color-highlight;
    display: flex;
    margin: 2px;
    min-height: 64px;
    justify-content: center;
    align-items: center;
}

.todo-leftbar-item:hover {
    color: $foreground-color-highlight; 
    background-color: $background-color-highlight;
    border-color : $foreground-color;
    cursor : pointer;
}