#todo-app {
  // border: 1px dashed pink;
  
  display: grid;
  grid-template-columns : $grid-column-left $grid-column-right;
  grid-template-rows : $grid-row-top $grid-row-bottom;
  grid-gap: $grid-gap;
  align-content: stretch;
  justify-content: stretch;
  
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.todo-active-item {
  font-size: 0.8rem;
  padding: 2px;
  margin: 2px;
  background-color: $background-color;
  border: 1px solid $background-color-highlight ;
	color: $foreground-color;
  outline-style: none;
	outline-color: transparent;
}

.todo-active-item:hover {
  background-color: $background-color;
  border: 1px solid $foreground-color ;
	color: $foreground-color-highlight;
}

.todo-active-item:focus {
  background-color: $background-color-highlight;
  border: 1px solid $foreground-color ;
	color: $foreground-color-highlight;
}