ul.tag-list {
  display: flex ;
  flex-flow : row wrap;
  padding: 0px;
  margin: 5px;
}

.tag, .tag-add {
  cursor: pointer;
  border: 1px solid $border-color ;
  margin: 2px;
  padding: 1px;
  display:flex;
  flex-flow: row nowrap;
  font-size: 0.8rem;
  
}

.tag-content {
/*   border: 1px solid steelblue; */
  display:flex;
  padding : 0px 5px 0px 10px;
  align-content: center;
}

.tag-remove {
/*   border: 1px solid #690000; */
  padding : 0px 5px 0px 5px;

}
.tag-add {
  cursor: pointer;
  display : flex;
  border: 1px solid $border-color;
  justify-content: center;
  text-align: center;
  padding : 1px 5px;
  margin: 1px 2px;
}

.tag-add-form {
  border : none;
  border-bottom: 1px solid $border-color;
  background-color: $background-color;
  color: $text-color;
  font-size: 0.8rem;
}

// .tag-add-form input:hover,.tag-add-form input:focus {
//   background-color: $background-color;
// }

.tag {
  border-color: $border-color;
  color: $text-color;
  background-color: $background-color;
}

.tag:hover {
  border-color: $border-color-highlight;
  // color: $text-color-highlight;
  background-color: $background-color-highlight;
}
.tag-content:hover {
  // background-color: $background-color-highlight;
  color: $text-color-highlight;
}
.tag-remove:hover {
//   background-color: $background-color-highlight;
  color: $text-color-highlight;
}

.tag-add:hover {
  border-color: $border-color-highlight;
  background-color: $background-color-highlight;
  color: $text-color-highlight;
}
