#todo-add {
  order: 3;
  display: flex;
  
}


.todo-add-button {
  background-color: $background-color;
  color: $text-color;
  border: 1px solid $border-color;
  // grid-column: 3 / 4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  // top: 0px;
  // right: 26px ;
  margin: 2px;
  padding :15px;
  // min-height: $grid-row-top - 4px;
  // min-width: 70px;
  // justify-content : center;
  // align-items: center;
  cursor: pointer;
}

.todo-add-button:hover {
  border-color : $border-color-highlight;
  color: $text-color-highlight;
  background-color: $background-color-highlight;

}