#topbar {
  grid-column : 1 / 3;
  grid-row : 1 / 2;
  display :  flex;
  // grid-template-columns: 70px 1fr 70px;
  // grid-template-rows : auto; 
  justify-content: stretch;
  align-items: stretch;
  min-height: $topbar-height;
}