
#todo-menu {
  border: 1px solid $border-color;
  /* position set to relative, as it can't be default (static
   * because #todo-menu-content position is set in relation to #todo-menu 
   */
  order: 1;
  position: relative;
  padding: 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  cursor: pointer;
}

#todo-menu:before {
  content: "||||";
}

#todo-menu:focus {
  border :1px solid $border-color-highlight;
  background-color: $background-color-highlight;
  color: $text-color-highlight;
  outline-color: transparent;
  outline-style: none;
  pointer-events: none;
}

#todo-menu:hover {
  border :1px solid $border-color-highlight;
  background-color: $background-color-highlight;
  color: $text-color-highlight;
}