#todo-add {
  // border: 1px solid #2f2f2f;
  display: flex;
  flex-flow : row nowrap;
  align-items: center;
  justify-content: stretch;
  flex: 1 0 auto;
  min-width: 250px;
  // padding: 0px 10px;
}
#todo-add input {
  display: flex;
  flex : 1 0 auto;
  justify-content :stretch;
  padding: 5px 0px;
  margin-left: 10px;
}

#todo-add-more {
  display: flex;
  padding: 6px 0px;
  margin-right:10px;
  justify-content : center;
  align-items: center;
  cursor: pointer
}
#todo-add-button {
  border: 1px solid #2f2f2f;
  display: flex;
  margin: 2px;
  min-height: 58px;
  min-width: 58px;
  justify-content : center;
  align-items: center;
  cursor: pointer;
}

#todo-add-button:hover {
  border-color : #696969;
  color: white;
  background-color: #2f2f2f;

}