// #menu {
//   // border: 1px dashed purple;
//   display:grid;
//   grid-column: 1 / 2;
//   grid-row: 1 / 2 ;
//   align-content: stretch;
//   justify-content: stretch;
// }

#todo-menu {
  border: 1px solid $border-color;
  /* position set to relative, as it can't be default (static
   * because #todo-menu-content position is set in relation to #todo-menu 
   */
  order: 1;
  position: relative;
  padding: 20px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#todo-menu:before {
  content: "||||";
}

#todo-menu:focus {
  border :1px solid $foreground-color;
  background-color: $background-color;
  color: $foreground-color;
  outline-color: transparent;
  outline-style: none;
  pointer-events: none;
}

#todo-menu:hover {
  border :1px solid $border-color-highlight;
  background-color: $background-color-highlight;
  color: $foreground-color-highlight;
}

// #todo-menu:focus #todo-menu-content {
//     display: flex;
//     flex-flow: column nowrap;
    
//     visibility: visible;
//     opacity: 1;
//     pointer-events: auto;
// }

// #todo-menu-content {
//   border: 1px solid $foreground-color;
//   background-color: $background-color;
//   color: $foreground-color;
   
//   position: absolute;
//   top: 40px;
//   left: 40px;
//   min-width: 160px;
//   padding: 0px 0px;
//   z-index: 9999;
  
//   display: none;
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0.5s;
// }

// .todo-menu-item {
//   padding: 10px;
//   pointer-events: auto;
//   cursor: pointer;
// }
// .todo-menu-item:hover {
//   background-color: $background-color-highlight;
//   color: $foreground-color-highlight;
// }