#todo-add-modal { 
    opacity: 0; 
    transition: opacity 1.5s;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0px;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: $modal-background; /* Fallback color */
    background-color: rgba($modal-background, 0.4); /* Black w/ opacity */
    

}


.todo-modal-add-content {
    background-color: $background-color;
    // border: 1px solid #888;
    // width: 75%; /* Could be more or less, depending on screen size */

    display:flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    position: absolute;
    left: $container-offset + $grid-column-left + $grid-gap;
    right: 0px;
    height: $grid-row-top;
    align-items: stretch;
    justify-content: stretch;
    
}

.todo-modal-add-text {
    display: flex;
    flex: 1 0 auto;
    border: none;
    color: $foreground-color-highlight;
    padding: 0px 5px;
    background-color:  $background-color;
}

.todo-modal-add-text:focus {
    background-color: $background-color-highlight;
}   

.todo-modal-add-more {
  display: flex;
//   padding: 6px 0px;
  margin: 0px 5px;;
  justify-content : center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.todo-modal-add-more-options {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    position: absolute;
    top: $grid-row-top + $container-offset;
    left: $container-offset + $grid-column-left + $grid-gap;
    right: 0px;
    background-color: $background-color;
    color : $foreground-color;

}

.todo-modal-add-button {
    border: 1px solid $background-color-highlight;
    display: flex ;
    flex : 0 0 auto;
    justify-content: center;
    align-items: center;
    min-height: $grid-row-top - 4px;
    min-width: 80px;
    margin: 2px;
    cursor: pointer;
}
.todo-modal-add-button:hover {
    color: $foreground-color-highlight;
    background-color: $background-color-highlight;
    border-color: $foreground-color;
}

/* The Close Button */
.todo-modal-add-close {
    color: $foreground-color;
    display:flex; 
    font-size: 24px;
    font-weight: bold;
    min-width: 24px;
    justify-content: flex-end;
    padding-right: 2px;
}

.todo-modal-add-close:hover,
.todo-modal-add-close:focus {
    color: $foreground-color-highlight;
    text-decoration: none;
    cursor: pointer;
}