
#leftbar {
//   border: 1px dashed yellow;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  align-items: space-between;

}

#todo-leftbar {
    // border: 1px solid #2f2f2f;
    display: flex;
    flex-flow: column nowrap;

}

.todo-leftbar-group {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;

}
.todo-leftbar-item {
    border: 1px solid #2f2f2f;
    display: flex;
    margin: 2px;
    min-height: 58px;
    justify-content: center;
    align-items: center;
}

.todo-leftbar-item:hover {
    color: white; 
    background-color: #2f2f2f;
    border-color : #696969;
    cursor : pointer;
}
