#topbar {
  // border: 1px solid $background-color-highlight;
  display: grid;
  grid-column : 2 / 3;
  grid-row : 1 / 2;
  align-content: center;
  justify-content: stretch;
  align-items: center;
  // grid-template-columns :  auto 64px;
  // grid-template-rows : auto;
}

#todo-topbar {
  // border: 1px solid $background-color-highlight;
  display : flex; 
  flex-flow : row nowrap;
  justify-content: space-between;
  align-items: stretch;
  min-height: $topbar-height;
}