#todo-search {
  flex: 1 1 auto;

  display: flex;
  min-width: 240px;
}

#todo-search-text {
    flex: 1 1 auto;
    font-size : 0.8rem;
}

#todo-search-status, #todo-search-by-tag  {
	flex: 0 0 auto;
}

@media screen and (max-width : 320px) {

	#todo-search-status, #todo-search-by-tag {
		display: none;
		
    }
}
