ul.tag-list {
  display: flex ;
  flex-flow : row wrap;
  padding: 0px;
  margin: 5px;
}

.tag {
  cursor: pointer;
  border: 1px solid #696969 ;
  margin: 2px;
  padding: 1px;
  display:flex;
  flex-flow: row nowrap;
  font-size: 0.8rem;
  
}

.tag-content {
/*   border: 1px solid steelblue; */
  display:flex;
  padding : 0px 5px 0px 10px;
  align-content: center;
}

.tag-remove {
/*   border: 1px solid #690000; */
  padding : 0px 5px 0px 5px;

}
.tag-add {
  cursor: pointer;
  display : flex;
  border: 1px solid #696969;
  justify-content: center;
  text-align: center;
  padding : 1px 5px;
  margin: 1px 2px;
}

.tag-content:hover {
  color: white;
}
.tag-remove:hover {
  color: white;
}
.tag-add:hover {
  color: white;
}