#todo-login {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.todo-login-header {
    grid-column : 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    align-content: center;
    align-items: center;
}
.todo-login-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.login-button {
    border: 1px solid #696969;
    background-color: #2f2f2f;
    border-radius: 10px;
    display:flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}

.login-button:hover {
    border-color: #969696;
    background-color:  #696969;
}