
.modal-add {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Close Button */
.modal-add-close {
    color: #aaa;
    display:flex; 
    font-size: 28px;
    font-weight: bold;
}

.modal-add-close:hover,
.modal-add-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.todo-modal-add-content {
    background-color: #2f2f2f;
    // border: 1px solid #888;
    // width: 75%; /* Could be more or less, depending on screen size */

    display:flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    position: absolute;
    left: $container-offset + $grid-column-left + $grid-gap;
    right: 0px;
    height: $grid-row-top;
    align-items: stretch;
    justify-content: stretch;
}

#todo-add-more {
  display: flex;
  padding: 6px 0px;
  margin-right:10px;
  justify-content : center;
  align-items: center;
  cursor: pointer
}

.todo-modal-add-text {
    display: flex;
    flex: 1 0 auto;
}
.todo-modal-add-text, .todo-modal-add-more, .todo-modal-add-button , .modal-add-close {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0px 10px;
}
