#todo-search {

  order: 2;
  flex: 1 1 auto;
  display: flex;
  color: $text-color;
}

#todo-search-text {
    flex: 1 1 auto;
    font-size : 0.8rem;
    width:20px;
    min-width:20px;
    border: none;
    border-bottom: 1px solid $border-color;
    color: $text-color;

}

#todo-search-text input:focus {
  color : $text-color;
}

#todo-search-text:hover {
  background-color: $background-color;
  border-bottom: 1px solid $border-color-highlight;
  color: $text-color-highlight;
}


#todo-search-status  {
	// flex: 0 0 auto;
  min-width: 60px;
  border-color: $border-color;
  color: $text-color;
  
}

#todo-search-status:hover, #todo-search-by-tag:hover {
  color: $text-color-highlight;
  background-color: $background-color-highlight;
  border-color: $border-color-highlight;
}

#todo-search-by-tag  {
	// flex: 0 0 auto;
  min-width: 60px;
  border-color: $border-color;
  color: $text-color;
}

@media screen and (max-width : 320px) {

	#todo-search-status, #todo-search-by-tag {
		display: none;
		
    }
}
@media screen and (max-width : 480px) {

  #todo-search { flex-flow : row wrap;}
  #todo-search-text { 
    order : 2; 
  }
  // #todo-search-status { 
  //   order :1; 
  // }
  // #todo-search-by-tag { order: 3;}
	#todo-search-status, #todo-search-by-tag {
		display: none;
		
    }
}
