ul.tag-list {
  display: flex ;
  flex-flow : row wrap;
  padding: 0px;
  margin: 5px;
}

.tag, .tag-add {
  cursor: pointer;
  border: 1px solid $border-color;
  border-radius: 3px;
  margin: 2px;
  padding: 3px;
  display:flex;
  flex-flow: row nowrap;
  font-size: 0.8rem;
  
}

.tag-content {
  display:flex;
  padding : 0px 5px 1px 10px;
  align-items: center;
  &:hover {
    color: $text-color-highlight;
  }
}

.tag-remove {
  padding : 0px 4px 0px 4px;
  &:hover {
      color: $text-color-highlight;
    }
}
.tag-add {
  cursor: pointer;
  display : flex;
  border: 1px solid $border-color;
  justify-content: center;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  &:hover {
    border-color: $border-color-highlight;
    box-shadow: $hover-item-shadow;
    color: $text-color-highlight;
  }
}

.tag-add-form {
  border : 1px solid $border-color;
  margin-left: 2px; 
  padding: 2px;
  color: $text-color;
  border-radius: 3px;
  margin: 2px;
  padding: 2px;
  font-size: 0.8rem;

  input {
    display:flex;
    align-items: center;
    text-align: left;
    vertical-align: middle;
    background: none;
    color: white;
    padding: 0px 5px 2px 5px;
    margin: 0px;
    border:none;
    &::placeholder {
      color: rgba($gid-color__white, 0.6);
      font-size: 0.8rem;
    }
  }
}

.tag {
  border-color: $border-color;
  color: $text-color;
  &:hover {
    box-shadow: $hover-item-shadow;
    border-color: $border-color-highlight;
  }
}
