#todo-leftbar {
    position: absolute;
    top: 0px;
    // bottom: 0px;
    top: 0px;
    height:100%;
    width: 100%;
    display: none;
    z-index: 10;
    background: rgba(0,0,0,0.8);
}

#todo-leftbar-inner {
    background: $gid-gradient-blue;
    position: absolute;
    left: -$panelWidth;
    width: $panelWidth;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content : space-between;
    box-shadow: 0px 0px 20px 0px black;
}


.todo-leftbar-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
}
.todo-leftbar-item {
    border: 1px solid $border-color;
    border-radius: 3px;
    color: $text-color;
    display: flex;
    margin: 5px;
    min-height: 64px;
    justify-content: center;
    align-items: center;
}

.todo-leftbar-item:hover {
    color: $foreground-color-highlight; 
    box-shadow: $hover-item-shadow;
    border-color : $border-color-highlight;
    cursor : pointer;
}