.gid-header {
  grid-column : 1 / 3;
  grid-row : 1 / 2;
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: $gid-color__white;
  color: $gid-color__darkblue;

  &-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;

    .gid-menu {
      border: 1px solid $border-color;
      position: relative;
      padding: 20px;
      margin: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $gid_color__white;
      cursor: pointer;
      
      &:before {
        content: "||||";
      }
      &:focus {
        border :1px solid $border-color-highlight;
        background-color: $background-color-highlight;
        color: $text-color-highlight;
        outline-color: transparent;
        outline-style: none;
        pointer-events: none;
      }
      &:hover {
        border :1px solid $border-color-highlight;
        background-color: $background-color-highlight;
        color: $text-color-highlight;
      }
    }

    .gid-logo {
      position: relative;
    }

    .gid-add {
      order: 3;
      display: flex;
    
      &-button {
        background-color: $background-color;
        color: $text-color;
        border: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        padding :15px;
        cursor: pointer;
        
        &:hover {
          border-color : $border-color-highlight;
          color: $text-color-highlight;
          background-color: $background-color-highlight;
        }
      }
    }
  }

  &-filters {
    display :  flex;
    min-height: 60px;
    .gid-search {

      order: 2;
      flex: 1 1 auto;
      display: flex;
      color: $text-color;

      &-text {
        flex: 1 1 auto;
        font-size : 0.8rem;
        width:20px;
        min-width:20px;
        border: none;
        border-bottom: 1px solid $border-color;
        color: $text-color;
        & input:focus {
          color : $text-color;
        }
        &:hover {
          background-color: $background-color;
          border-bottom: 1px solid $border-color-highlight;
          color: $text-color-highlight;
        }
      }
      
      
      &-status  {
        // flex: 0 0 auto;
        min-width: 60px;
        border-color: $border-color;
        color: $text-color;
        &:hover {
          color: $text-color-highlight;
          background-color: $background-color-highlight;
          border-color: $border-color-highlight;
        }
      }
      
      &-by-tag  {
        // flex: 0 0 auto;
        min-width: 60px;
        border-color: $border-color;
        color: $text-color;
        &:hover {
          color: $text-color-highlight;
          background-color: $background-color-highlight;
          border-color: $border-color-highlight;
        }
      }
      
      @media screen and (max-width : 320px) {
      
        .gid-search-status, .gid-search-by-tag {
          display: none;
          
          }
      }
      @media screen and (max-width : 480px) {
      
        .gid-search { flex-flow : row wrap; }
        .gid-search-text { 
          order : 2; 
        }
        .gid-search-status, .gid-search-by-tag {
          display: none;
          
          }
      }
    }
  }
}

