.todo-item {
  border : 1px solid transparent;
  color: $text-color;
  display: flex;
  flex-flow : row nowrap;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 3px;
  &:hover {
    border : 1px solid $border-color;
    border-radius: 3px;
  }
}

.todo-item .group {
  display: flex;
  width: 100%;
}

.edit-text {
  border: none;
  background-color: $background-color;
  border-bottom : 1px solid $border-color;
  color: $text-color;
}

.todo-item-checkbox { 
  border: 1px solid $border-color;
  border-radius: 3px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 64px;
  width: 64px;

  &:hover {
    border: 1px solid $border-color-highlight;
    // background-color: $background-color-highlight;
    color: $text-color-highlight;
    box-shadow: $hover-item-shadow;
    cursor: pointer;
  }
}


.todo-item-contents {
  // border: 1px dashed yellow;
  // background-color: #2f2f2f;
  display: flex;
  flex: 1 1 auto;
  flex-flow : column nowrap;
  align-content : stretch;
  align-items : stretch;
  margin: 0px 2px;
  padding: 10px;
  min-height: 50px;

}

.todo-item-contents-maintext {
  display: flex;
  align-items : stretch;
  color: $text-color;
  font-size: 1.2rem;

  .edit-text {
    display: inline-flex;
    align-items : stretch;
    outline-color: transparent;
    outline-style: none;
    width: 100%;
    height: 1rem;
  }
}

.todo-item-contents-subtext {
  display : flex;
  align-items :stretch;
  font-size: 0.8rem;
}

.todo-item-controls {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex: 0 0 auto;
  visibility: hidden;
}

.todo-item:hover .todo-item-controls {
  visibility: visible;  
}

.todo-item-controls div {
  border: 1px solid $border-color;
  border-radius: 3px;
  cursor: pointer;
  display:flex;
  flex: 1 0 auto;
  margin: 3px 5px;
  min-width: 80px;
  height: 24px;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: $hover-item-shadow;
    border-color: $border-color-highlight;
    color: $foreground-color-highlight;
  }
}

@media screen and (max-width: 480px), screen and (min-width: 1025px) {

  .todo-item {
    flex-flow: column nowrap;
    width: 330px;
  }

  .todo-item-controls {
    flex-flow: row nowrap;
  }

  .todo-item-controls div {
    flex-flow: row nowrap;
    height: 32px;
  }
}

@media screen and (min-width: 1025px) {
  .todo-item {
    max-width: 330px;
    margin: 20px auto;
  }
}