@import "base/variables"; // no underscore and extension
@import "components/navigation";
@import "components/clock";
@import "components/countdownControls";

.page-title {
	color : $page-title-color;
	margin-top :  $space-large;
	margin-bottom :  $space-large;
	text-align : center;
}

input[type=search] {
	box-shadow :  none;
}
