
@import "base/variables"; // no underscore and extension

// foundation
// @import 'base/foundation-settings';
// @import 'foundation';
// @include foundation-everything;

@import "components/scrollbar-style";
@import "components/todo-app";
  @import "components/todo-menu"; // menu
  @import "components/todo-topbar"; // topbar
    @import "components/todo-search";
    @import "components/todo-add";
  @import "components/todo-leftbar"; // leftbar
  @import "components/todo-list"; // contents
    @import "components/todo-item";
      @import "components/todo-item-tag";

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #232324;
  color: #696969;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

input[type=text] {
  font-size : 1rem;
}
#container {
  // border: 1px dashed red;
  
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  // min-width : 300px;
  min-height: 200px;
}

#app {
  
  // border: 1px dashed steelblue;
}

