
.top-bar {
	overflow: hidden;
	// position: fixed;
	display: block;
	width: 100%;
	// height: 100px;
	top : 0px;
	margin: 0px;
	padding: 0px;

}

.top-bar {
	box-shadow: 0px 3px 30px rgba(0,0,0,0.9);
}
.top-bar, .top-bar ul {
	background-color: $nav-background;
}

.menu-text {
		color: $nav-text-color;
}

.active-link {
	font-weight : bold;
}

// //low res devices
// @media screen and (max-width: 320px ) {
// 	.top-bar, .top-bar ul {
// 			background-color: red;
// 	}
// }

// // first gen devices
// @media screen and (min-width: 320px )and (max-width: 480px ) {
// 	.top-bar, .top-bar ul {
// 			background-color: pink;
// 	}
// }

// // smart phones
// @media screen and (min-width: 480px )  and (max-width: 720px ) {
// 	.top-bar, .top-bar ul {
// 			background-color: white;
// 	}
// }


// lowres---320---firstgen---480---smartphones--- 720 ---ipad---768---tablets(portrait)---900---tablets(landscapes)---1024---desktops
