<!DOCTYPE html >
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="" type="image/x-icon">
		<link rel="icon" href="" type="image/x-icon">
		<title>Get It Done App</title>
	</head>
	<body>
		<div id='container'></div>
		<noscript>Sorry, your device does not support JavaScript.</noscript>
	</body>
</html>
