
//DARK
$background-color : #232323;
$background-color-highlight :#2f2f2f;
$foreground-color : #696969;
$foreground-color-bright : #969696;
$foreground-color-highlight: #ffffff;
$modal-background : #000;

// BRIGHT
// $background-color : #efefef;
// $background-color-highlight :#fefefe;
// $foreground-color : #969699;
// $foreground-color-bright :#000;
// $foreground-color-highlight: darkorange;
// $modal-background : #ccc;



$todo-controls-hover : $background-color-highlight;


$grid-gap: 5px;
$grid-column-left : 64px;
$grid-column-right : 1fr;
$grid-row-top: 64px; 
$grid-row-bottom: 1fr;
$scrollbar-width: 10px;
$topbar-height: $grid-row-top;
$topbar-width: $grid-column-right;
$container-offset: 0px;

