
$background-color : #232323;
$background-color-highlight :#2f2f2f;
$foreground-color : #696969;
$foreground-color-highlight: #fff;
$tag-color : $foreground-color;
$tag-text-color: white;
$tag-add-color: #006900;
$tag-remove-color: #690000;